<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DepartamentoServlet</servlet-name>
        <servlet-class>Controlador.DepartamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>Controlador.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RopaServlet</servlet-name>
        <servlet-class>Controlador.RopaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorServlet</servlet-name>
        <servlet-class>Controlador.ProveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoyeriaServlet</servlet-name>
        <servlet-class>Controlador.JoyeriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controlador.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>Controlador.Validacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartamentoServlet</servlet-name>
        <url-pattern>/departamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RopaServlet</servlet-name>
        <url-pattern>/ropa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorServlet</servlet-name>
        <url-pattern>/proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoyeriaServlet</servlet-name>
        <url-pattern>/joyeria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/validacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
